* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #e8e8e8e5;
    backdrop-filter: blue(100px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.247);
    z-index: 1000;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
} 

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 40px;
    text-decoration: none;
    font-family: cursive;
    display: flex;
    align-items: center;
    color: rgb(83, 83, 83);
    text-shadow:0px 1px 1px  rgba(0, 0, 0, 0.518);
}

nav a:hover{
    background-color: #ffffff7a;
    backdrop-filter: blue(50px);
}

nav li:first-child{
    margin-right: auto;
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#home {
    position: relative;
    height: 50vh;
    width: 100%;
    overflow: hidden;
}

.home-banner {
    position: relative;
}

.banner-container {
    display: flex;
    width: 300%;
    transition: transform 0.5s ease;
}

.banner-image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    background-color: rgb(147, 147, 147);
}

.banner-container .sampleText{
    font-size: large;
}

.banner-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#menu{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
    gap: 40px;
}

.home-menu-item{
    height: 300px;
    width: 270px;
    position: relative;
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.item{
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 270px;
    background-color: rgb(159, 159, 159);
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    border-radius: 20px;
    cursor: pointer;
}

.item-name{
    
}

.item-hover{
    position: absolute;
    z-index: 1;
    height: 300px;
    width: 270px;
    background-color: rgb(77, 77, 77);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.item-hover-button{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 30px;
    background: #c0c0c0;
    color: #3b3b3b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
}

.home-menu-item:hover{
    .item{
        transform: translateY(-20px);
        filter: drop-shadow(0px 5px 5px #00000044);
    }
    .item-hover{
        transform: translateY(30px);
    }

    filter: drop-shadow(0px 0px 5px #0000004a);
}

.item:hover{
    filter: drop-shadow(2px, 2px, 10px, rgb(0, 0, 0));
}

.item-hover-button:hover{
    background: white;
}

#show-more-items{
    margin-bottom: 40px;
    align-self: center;
    text-decoration: none;
    font-size: 1.5em;
    font-family: cursive;
    color: rgb(48, 23, 0);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.582);
    transition: text-shadow 0.3s ease, background-color 0.3s ease;
}

#show-more-items:hover{
    background-color: rgb(199, 199, 199);
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.582);
}


footer{
    height: 100px;
    width: 100%;
    background: rgb(117, 117, 117);
}
